@page
@model web_plantastic.Pages.AddEventModel
@{
    ViewData["Title"] = "AddEvent";
}

<div class="text-center" style="color:#C2847A; font-family: Helvetica; font-size: 24pt">
    <br />
    <br />
    <br />
    @if (Model.invalidInput)
    {
        <p>Completati toate campurile!</p>
    }
    else if (Model.eroare)
    {
        <p>A aparut o eroare in adaugarea unui nou eveniment!</p>
    }
    else if (Model.succes)
    {
        <p>Inregistrare incheiata cu succes!</p>
    }
    else
    {
        <br />
    }
    <div class="card rounded" style="background-color:#280003; border-style:solid; border-width:medium; border-color:#C2847A">
        <div class="card-body">
            <form class="form-horizontal align-middle" method="post">
                <div class="form-group row">
                    <label class="control-label text-left col" asp-for="nume">
                        Numele evenimentului:
                    </label>
                    <input class="text-right col" type="text" name="nume" />
                </div>
                <div class="form-group row">
                    <label class="control-label text-left col" asp-for="descriere">
                        Descriere:
                    </label>
                    <input class="text-right col" type="text" name="descriere" />
                </div>
                <div class="form-group row">
                    <label class="control-label text-left col" asp-for="tip">
                        Alegeti tipul evenimentului:
                    </label>
                    <select id="tip" name="tip">
                        <option value="unic" selected>unic</option>
                        <option value="multiplu">multiplu</option>
                        <option value="repetitiv">repetitiv</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="control-label text-left col" asp-for="dataEvenimentInceput">
                        Alegeti data de inceput:
                    </label>
                    <input class="text-right col" type="datetime" name="dataEvenimentInceput" />
                </div>
                <div class="form-group row">
                    <label class="control-label text-left col" asp-for="dataEvenimentSfarsit">
                        Alegeti data de sfarsit:
                    </label>
                    <input class="text-right col" type="datetime" name="dataEvenimentSfarsit" />
                </div>
                <div class="form-group d-flex justify-content-between row w-100">
                    <button type="submit" name="adauga" value="adauga" class="btn col-3 text-left" style="background-color:#C2847A; color:#280003; font-size:24pt; margin-top:4pt;margin-left:2pt">Adauga</button>
                    <button type="submit" name="inapoi" value="inapoi" class="btn col-3 text-left" style="background-color:#C2847A; color:#280003; font-size:24pt; margin-top:4pt;margin-left:2pt">Inapoi</button>
                </div>
            </form>
        </div>
    </div>
</div>