@page
@model web_plantastic.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<span style="font-family:Helvetica; color:#848586">
    <h1>Contact Page</h1>

    <p>
        Contact info is here
    </p>
    <br />
    <a asp-page="Index">Pagina principala</a>
</span>
