@page
@model web_plantastic.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

    <span style="font-family:Helvetica; color:#C2847A">
        <h1>Contact Page</h1>

        <p>
            Contact info:
        </p>
        <span style="color: #848586">
            <p>Team leader : Isarescu Mihai        - mihai.isarescu@student.utcluj.ro</p>
            <p>Developer   : Vlassa Alexandra      - alexandra.vlassa@student.utcluj.ro</p>
            <p>Tester      : Marteniuc Giorgiana   - giorgiana.marteniuc@student.utcluj.ro</p>
        </span>
        <br />
        <a asp-page="Index" style="color:#eee0cb">Pagina principala</a>
    </span>
