@page "{loginError?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="color:#C2847A; font-family: Helvetica; font-size: 24pt">
    <br />
    <br />
    <br />
    <br />
    <div class="card rounded" style="background-color:#280003; border-style:solid; border-width:medium; border-color:#C2847A">
        <div class="card-body">
            <form class="form-horizontal align-middle" method="post">
                <div class="form-group row">
                    <label class ="control-label text-left col" asp-for="utilizator">
                        Nume Utilizator:
                    </label>
                    <input class="text-right col" type="text" name="utilizator" />
                </div>
                <br />
                <div class="form-group row">
                    <label class ="control-label text-left col" asp-for="parola">
                        Parola:
                    </label>
                    <input class="text-right col" type="password" name="parola" />
                </div>
                <div class="form-group d-flex justify-content-between row w-100">
                    <button type ="submit" name="login" value="login" class="btn col-3 text-left" style="background-color:#C2847A; color:#280003; font-size:20pt; margin-top:4pt;margin-left:2pt">Log In</button>
                    <button type ="submit" name="register" value="register" class="btn col-3 text-left" style="background-color:#C2847A; color:#280003; font-size:20pt; margin-top:4pt;margin-left:2pt">Register</button>
                </div>
            </form>
        </div>
    </div>

    @if (Model.LoginError)
    {
        <p>Nume de utilizator sau parola introduse gresit!</p>
    }

</div>
