@page
@model web_plantastic.Pages.UserPageModel
@{
    ViewData["Title"] = "UserPage";
}

<div class="text-center" style="color:#C2847A; font-family: Helvetica; font-size: 24pt">
    <h1>Hello  @Model.User</h1>
</div>